body{
   
    color: #fff;
    background-color:   rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0%;  

}
header{
    
    display: grid;
    justify-content: space-evenly;
    width: 35px;
    height: 45vh;
    position: fixed;
    border-top-right-radius: 80% 10% ;
    border-bottom-right-radius:80% 10%;
    border-right:solid #2f2d52;
    margin-top: 150px;
    
    
}

section header .navigation{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;


}
section header .navigation .navlogo{
    display: flex;
    align-items: center;
    height: 30px;
}

section header .navigation .navlogo a img{
  height: 35px;   
  width: 35px;
}
section header .navigation .navlogo .tooltiptext{
    visibility: hidden;
    color: #3c3b51;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 20px;
    background-color: #fff;
    padding: 5px 20px;
}
section header .navigation .navlogo:hover .tooltiptext{
    visibility: visible;


}

body .home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb( 3,39,39); 
    min-height: 90vh;

}
body .home .info{
    padding: 20px;
    margin: 20px;
    font-family: Arial,sans-serif,georgia;
    margin-top: 70px;
    width: 600px;
  
}
body .home .info ul {
    padding-top: 30px;
}

body .home .info ul a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 40%;
    margin-top: 30px;
}
body .home .info a:hover{
    color: aqua;
}
body .home .about{
    margin: 20px;
    border-radius: 50% ;
    height: 300px;
    width: 300px;
    overflow: hidden;
    justify-content: center;
    padding: 20px;
    
    background-color:  transparent;
    
   
      
    
}
body .home .about .img{
  height: 100%;
  width: 70%;
  justify-content: center;
    
}
body .home .about .img img{
    padding-bottom: 10%;
    padding-top: -15%;
    height: 100%;
}

body .services{
    background-color:rgb(162, 210, 210);  
   justify-content: space-evenly;
   height: fit-content;
   align-items: center;

    
}
body .services .skillsHeader{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial,sans-serif,georgia;
}

body .services .skillsHeader h3{
    font-size: 24;
    color: #3c3b51;

}
body .services .skillsDetails{
    display: flex;
    flex-wrap: wrap;
    
    margin: 20px;
    
    

}
body .services .skillsDetails .skill{
    background-color:   rgb(34, 131, 131);
    border: double #2f2d52;
    height: 200px;
    padding: 35px;
    width: 240px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    font-size: 18px;
    margin: 35px;

}

body .services .skillsDetails .skill h4{
    margin-left: 25%;
}
body .services .projectsDetails{
  
    padding: 20px;
    
}
body .services .projectsDetails .project1{
   display: flex; 
   flex-wrap: wrap;
   
}


body .services .projectsDetails .project1 .project{
    display:grid;
    justify-content: center;
    height: 250px;
    width: 350px;
    text-decoration: none;
    color: white;

    overflow: hidden;
    background-color:  rgb(34, 131, 131);
    margin: 20px;


}
body .services .projectsDetails .project .img1{
    height: 200px;
  width: 100%;
  justify-content: center;
  background-color: #2f2d52;
  margin: 2px;

}
body .services .projectsDetails .project .img1 a img{
    padding-bottom: 10%;
    padding-top: -15%;
     height: 100%;
     width: 100%;
     display: flex;
     

}

body .services .projectsDetails .project .projectname{
    height: 10%;
    justify-content: center;
    justify-items: center;
}

body .services .projectsDetails .project a h4{
      margin-left: 25%;
      text-decoration: none;
      color: white;
}




body .aboutme{
    background-color: rgb(3, 39, 39) ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

body .aboutme .aboutME{
    display: grid;
    background: transparent;
    margin-inline-start: 5%;
    padding: 20px;
    height: 250px;
    width: 300px;
    padding: 20px;
    margin: 20px;
}
body .aboutme .connect{
    background-color: rgb(162, 210, 210);
    height: 200px;
    width: 350px;
    color: #3c3b51;
    padding: 20px;
    margin: 10px;
}






body .contacts{
    background-color:   rgb(162, 210, 210); 
    color: #3c3b51;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
 
    
}
body .contacts h2{
 margin-left: 7.6%;
}
body .contacts form{
min-width: 300px;
max-width: 400px;
margin-left: 30%;
}
body .contacts form input[type="text"],textarea{
    width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}
body .contacts form input[type="submit"]{
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
}

body .contacts form  input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width:1100px){
    header{
        visibility: visible;
    }

    body .services .projectsDetails .project1{
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        
     }
     body .contacts form{
        justify-content: center;
        margin-left: 11%;
     }
     
}